<!DOCTYPE html>
<html>

<head>
  <title>Python and AWS</title>
  <!--
      <link rel="stylesheet" href="/static/css/main.css">
      <link rel="shortcut icon" href="/static/images/lstm.ico">
  -->
</head>

<body>
  <div class="container">
    <center>
      <img src="https://www.underconsideration.com/brandnew/archives/dropbox_2017_logo.png" height="50px" />

      {% block content %}
      {% for message in form.fileUploadField.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
    
      <form method="post" action="/upload" enctype="multipart/form-data">
        {{ form.fileUploadField.label }}
        {{ form.fileUploadField }}
        <br /><br />
        {{ form.submit }}
      </form>
    </center>
    {% endblock %}
  </div>
</body>

</html>